<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>

        </title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <link rel="stylesheet" href="home.css" >
    </head>
    
    
 <body>

        

   
   <section class="about">
     
    <div class="abt">
         <img src="{% static 'images/slide-img.png' %}">
    <div class="aboutus">
         <h2>About JoetomFoods</h2>
         <h4>Owner :Josephine Thompson<span>& Journey</span></h4>
         <p>A particularly effective algorithmic strategy is called "dynamic programming," which divides an issue into smaller ones
             that are then solved one at a time by calculating the answers to the larger questions using the information from the 
             smaller ones. A particularly effective algorithmic strategy is called "dynamic programming," which divides an issue into smaller ones
             that are then solved one at a time by calculating the answers to the larger questions using the information from the 
             smaller ones. A particularly effective algorithmic strategy is called "dynamic programming," which divides an issue into smaller ones
             that are then solved one at a time by calculating the answers to the larger questions using the information from the 
             smaller ones. 
         </p>
        <a href=""> <button>Here</button></a>
    </div>
    </div>
       

   </section>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
    </body>
</html>