<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>Contact Us</title>
        <link rel="stylesheet" href="{% static 'css/contactpage.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" >
    </head>
        
    
    <body>

        <header class="header" id="header">
        
            <a href="#" class="logo" > <i class="fas fa-shopping-basket"></i>Joetom Food</a>
           
         
        
            <nav class="navbar">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'store' %}">Shop</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'aboutus' %}">About Us</a>
            </nav>
        
            <div class="icons">
                <div class="fas fa-bars" id="menu-btn"></div>
                <a href="{% url 'cart' %}"><div class="fas fa-shopping-cart" id="cart-btn"></div></a>
                <a href="{% url 'login' %}"><div class="fas fa-user" id="login-btn"></div></a>
            </div>
        
            </header>
    
            <section class="pica">

                <h2>#JoetomFoods4BetterLiving</h2>
    </section>


        

   
   <section class="about">
     
    <div class="abt">
         <img src="{% static 'images/slide-img.png' %}">
    <div class="aboutus">
         <h2>About JoetomFoods</h2>
         <h4>Owner <span>& Journey</span></h4>
         <p>A particularly effective algorithmic strategy is called "dynamic programming," which divides an issue into smaller ones
             that are then solved one at a time by calculating the answers to the larger questions using the information from the 
             smaller ones. A particularly effective algorithmic strategy is called "dynamic programming," which divides an issue into smaller ones
             that are then solved one at a time by calculating the answers to the larger questions using the information from the 
             smaller ones. A particularly effective algorithmic strategy is called "dynamic programming," which divides an issue into smaller ones
             that are then solved one at a time by calculating the answers to the larger questions using the information from the 
             smaller ones. 
         </p>
        <a href="{% url 'home' %}"> <button>Here</button></a>
    </div>
    </div>
       

   </section>
   
   
   
</body>
</head>
</html>